.topbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  position: fixed;
}

.github {
  grid-column: 1 / 2;
  grid-row: 1;

  padding: 5px;
  align-items: center;
  z-index: 1000;
}

.linkedin {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: fixed;
  padding: 5px;
  align-items: center;
  z-index: 10;
}

.App-header {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
  font-size: calc(10px + 2vmin);
  color: white;
}