footer {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-auto-rows: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #000000;
  }
  
/* layout */
.copyright {
    grid-column: 2 / 3;
    grid-row: 1;
}

.icons {
    grid-column: 2 / 3;
    grid-row: 2;
    color: #ffffff;
}